{
  "env": {
    "test": {
      "presets": [
        "flow",
        "es2015",
        "stage-0"
      ]
    },
    "es": {
      "presets": [
        "flow",
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-0"
      ]
    },
    "commonjs": {
      "presets": [
        "flow",
        "es2015",
        "stage-0"
      ]
    }
  }
}
